﻿<section class="main-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div ng-repeat="item in data | orderBy:'-sortOrder':true" class="swiper-slide" background-image="{{isMobile ? item.mobileImage.url : item.siteImage.url}}" background-size="cover">
                <div class="content-wrapper">
                    <div class="detail-image" background-image="{{isMobile ? item.mobileSmallImage.url : item.siteSmallImage.url}}" background-size="contain"></div>
                    <div class="slider-info">
                        <h2 ng-if="item.title !== '[CRS KEY:Title]'" ng-bind="item.title"></h2>
                        <h3 ng-if="item.subTitle !== '[CRS KEY:SubTitle]'" ng-bind="item.subTitle"></h3>
                        <div class="buttons-holder">
                            <a ng-repeat="button in item.buttons" class="btn primary" ng-href="{{button.url}}" ng-bind="button.text" ng-attr-target="{{button.target === '_blank' ? '_blank' : undefined}}" ng-class="button.cssClass"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>